@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem; /* COMMENT: 340px */
  --breakpoint-xs: 23.125rem; /* COMMENT: 363px */
  --breakpoint-xxl: 82.5rem; /* COMMENT: 1320px */
  --color-picto-primary: #456882;
  --color-picto-primary-dark: #234C6A;
  --color-soft-white: #F2F2F2;
  --color-soft-dark: #1B3C53;
}

.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:scale-[102%] hover:bg-picto-primary-dark transition-all duration-500;
}
body {
  font-family: "Work Sans", sans-serif;
}

.content {
  @apply max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium;
}

.center {
  @apply flex justify-center items-center;
}

.introduction-profile-background {
  background: radial-gradient(
      circle at 12% 100%,
      #456882 1% 5px,
      transparent 15%
    ),
    /* bottom left */
      radial-gradient(circle at 95% -15%, #234C6A 5%, transparent 30%),
    /* top right */
      radial-gradient(circle at center right, #456882 2%, transparent 35%); /* center right */
}
.blog-background {
  background: radial-gradient(circle at -10% 0%, #234C6A 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #456882  5%, transparent 25%);
}
